/* Movie Browsed */
#moviesBrowsed {
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

#moviesBrowsed #movie {
    border: 1px solid black;
    margin: 1.5em;
    width: 200px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(20, 19, 19, 0.9);
}
#moviesBrowsed #movie img {
    height: 100%;
    width: 100%;
}

#moviesBrowsed #movie p {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}


/* Movie selected */
#selectedMovie {
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--light-orange);
    /*display: none;*/
}
#selectedMovie #closeWindow {
        width: 1.5em;
        height: 1.5em;
        float: right;
        margin-right: 3%;
        margin-top: 3%;
        cursor: pointer;
}
#selectedMovie #watchTrailerPlusDonnees button {
    height: 4em;
    width: 40%;
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
    color: var(--light-orange);
    border: 1px solid var(--light-orange);
    cursor: pointer;
    text-transform: uppercase;
    margin: 3%;
    vertical-align: top;
}
#selectedMovie #options { /* Synopsis */
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
#selectedMovie #options #readSynopsis {
    margin-bottom: .5em;
    font-size: 1em;
    font-weight: bold;
    color: var(--light-orange);
    background-color: transparent;
    border: none;
}
#selectedMovie #options #readSynopsis img {
    height: 1em;
    width: 1em;
}
#selectedMovie #options #synopsis {
    height: 1.5em;
    overflow: hidden;
}
#selectedMovie #options #synopsisSuite {
    font-weight: bold;
    cursor: pointer;
}

/* Tablet and Mobile version */
@media all and (max-width: 900px) {
    #selectedMovie #movie { /* Affiche du film */
        border: 1px solid var(--light-orange);
        height: 20%;
        width: 70%;
        margin-top: 5%;
        margin-left: 15%;
        cursor: pointer;
    }
    #selectedMovie #movie img {
        height: 100%;
        width: 100%;
    }
    #selectedMovie h3 { /* Titre du film */
        margin-top: 2.5%;
        cursor: pointer;
        text-align: center;
        width: 100%;
        font-size: 1.5em;
    }
    #selectedMovie #watchMovie { /* Bouton regarder le film */
        margin-top: 5%;
        width: 50%;
        margin-left: 25%;
        font-size: .8em;
        font-weight: bold;
        background-color: var(--light-orange);
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    #selectedMovie #watchTrailerPlusDonnees { /* Boutons de regarder le film + regarder le trailer */
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
}


/* Desktop version */
@media all and (min-width: 900px) {
    #selectedMovie #movie { /* Affiche du film */
        border: 1px solid var(--light-orange);
        height: 60%;
        width: 300px;
        margin-top: 10%;
        margin-left: 10%;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
    }
    #selectedMovie #movie img {
        height: 100%;
        width: 100%;
    }
    #selectedMovie #divSide {
        display: inline-block;
        margin-top: 10%;
        width: 40%;
        margin-left: 5%;
    }
    #selectedMovie #divSide h3 {
        font-size: 2em;
        margin-bottom: 5%;
    }
    #selectedMovie #watchMovie {
        font-size: 1em;
        font-weight: bold;
        background-color: var(--light-orange);
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-bottom: 7%;
    }
    #selectedMovie #watchMovie:hover {
        background-color: var(--brighter-orange);
    }
    #selectedMovie #watchTrailerPlusDonnees button {
        margin: 0;
        margin-right: 6%;
        margin-bottom: 6%;
    }
}