form {

    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-bottom: 3%;
}
fieldset {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
legend {
    margin-left: 40%;
    width: 20%;
    cursor: pointer;
    font-weight: bold;
    color: #979797;
}
form #mailOrUsername {
    margin-bottom: 2em;
}
form #mailOrUsername label {
    display: block;
    margin-bottom: 0.5em;
}
form #password {
    margin-bottom: 2em;
}
form #password div {
    display: inline-block;
    margin: 1em;
}
form input {
    background-color: transparent;
    border: 0px;
    padding: 0.5em;
    border-bottom: 1px solid #979797;
}
form input:focus {
    border-bottom: 1px solid var(--light-orange);
}
form #submit input {
    border: 1px solid black;
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
form #submit input:hover {
    border: 1px solid var(--light-orange);
    color: var(--light-orange);
}

/* Mobile version */
@media all and (max-width: 695px) {
    form label {
        display: block;
        margin-bottom: 0.5em;
    }

}


#dejaInscrit {
    text-align: center;
    font-size: 14px;
    margin-bottom: 7%;
}
#dejaInscrit a {
    font-weight: bold;
    text-decoration: underline;
}
#dejaInscrit a:hover {
    color: var(--light-orange);
}
